@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import'components/SearchEngineBtn';
@import'components/SearchEngineContainer';
@import'components/SearchEngineCard';

body{
    //this just for testing
    background-image: url(../images/testImg.jpg);
    display:flex;
    justify-content: center;
    justify-items: center;
}