* {
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  background-color: #FFFFFF; }

.SearchEngineBtn--red, .SearchEngineBtn--blue {
  padding-top: 1rem;
  margin: 0;
  border: none;
  color: white;
  width: auto;
  text-align: left;
  cursor: pointer;
  width: 21rem;
  border-right: 1px solid #adc3d9;
  transition: background-color .25s; }
  .SearchEngineBtn--red i.fa.fa-angle-down, .SearchEngineBtn--blue i.fa.fa-angle-down {
    font-size: 2.3rem;
    float: right;
    font-weight: bold; }
  .SearchEngineBtn--red__label, .SearchEngineBtn--blue__label {
    color: #d5e7f4;
    margin: 1rem;
    font-size: 1.5rem; }

.SearchEngineBtn--red {
  background-color: #e3032c;
  text-align: center; }
  .SearchEngineBtn--red__title {
    color: #fff;
    margin: 1rem;
    font-size: 3rem; }
  .SearchEngineBtn--red:hover {
    background: #fc0431; }

.SearchEngineBtn--blue {
  background: #56a0d3; }
  .SearchEngineBtn--blue__title {
    color: #fff;
    margin: 1rem;
    font-size: 2rem; }
  .SearchEngineBtn--blue:hover {
    background: #4090c5; }

@media only screen and (max-width: 884px) {
  .SearchEngineBtn--red, .SearchEngineBtn--blue {
    width: 100%; } }

.SearchEngineContainer {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden; }

.SearchEngineCard {
  height: 24rem;
  width: 90rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  background-color: rgba(2, 59, 90, 0.05);
  border-radius: 1rem;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden; }
  .SearchEngineCard__header {
    text-align: center;
    width: 100%;
    -webkit-margin-before: 50px;
    -webkit-margin-after: 50px;
    -webkit-margin-start: 50px;
    -webkit-margin-end: 50px;
    border-bottom: 1px solid currentColor; }
  @media only screen and (max-width: 884px) {
    .SearchEngineCard {
      width: fit-content;
      height: fit-content; } }

body {
  background-image: url(../images/testImg.jpg);
  display: flex;
  justify-content: center;
  justify-items: center; }
